# /etc/systemd/system/gunicorn-def.service                                                   
[Unit]
Description=shit project
Requires=gunicorn-def.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/def-example-django
ExecStart=/root/def-example-django/.venv/bin/gunicorn \
        --access-logfile - \
        --workers 3 \
        --bind unix:/run/gunicorn-def.sock \
        rest.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target

