asgiref
attrs
django
django-filter
djangorestframework
drf-spectacular
drf-yasg
inflection
jsonschema
jsonschema-specifications
packaging
pytz
PyYAML
referencing
rpds-py
sqlparse
typing_extensions
psycopg2-binary
python-environ
django-cors-headers
gunicorn